<ul title='Welcome' selected='true'>
  <li class="group header"><img src="/images/mobile/logo.png" style="margin-top: -4px;"/></li>
  <li class="group header1">Welcome to Citi Mobile Banking</li>
  <li><a href="#login"><%= image_tag("/images/mobile/login.png", :border => "0", :style => "vertical-align: middle;") %>&nbsp;Mobile Login</a></li>
  <li><a href="#about"><%= image_tag("/images/mobile/about.png", :border => "0", :style => "vertical-align: middle;") %>&nbsp;About Citi Mobile</a></li>
</ul>
<div id="about" class="panel" title="Mobile Banking">
  <h2>Available to all Online Banking customers. With Mobile Banking you can use your iPhone or iPod touch to easily and securely check your balance and pay your bills.  It’s fast, easy and convenient - just use the Safari browser on your iPhone or iPod touch to get started.</h2>
</div>
<% form_for :user, :url => logins_path, :html => {:id => 'login', :title => 'Login', :class => 'panel'} do |f| %>
  <h2>Login</h2>
  <fieldset>
    <div class="row">
      <%= f.label :username %>
      <%= f.text_field :username, :size => '' %>
    </div>
    <div class="row">
      <%= f.label :password %>
      <%= f.password_field :password, :size => '' %>
    </div>
  </fieldset>
  <a class="redButton" type="submit" href="#">Login</a>
<% end %>