<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Citibank Mobile</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <link rel="apple-touch-icon" href="/images/mobile/iui/iui-logo-touch-icon.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <%= stylesheet_link_tag 'mobile/iui' %>
    <%= stylesheet_link_tag 'mobile/citi' %>
    <%= javascript_include_tag 'mobile/iui' %>
    <%= javascript_tag 'iui.animOn = true;' %>
  </head>
  <body>
    <div class="toolbar">
      <h1 id="pageTitle"></h1>
      <a id="backButton" class="button" href="#"></a>
      <%= link_to("Home", landings_path(:format => :iphone), {:class => "button", :target => "_self"}) %>
    </div>
    <%= yield %>
  </body>
</html>
